.create-user-modal {
  .create-user__content {
    width: 390px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 25px 0;
    text-align: center;
    color: grey;
    font-weight: 500;
  }
  &__field {
    width: 100%;
    margin: 7px 0;
    padding: 7px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .create-user__btn {
    width: 150px;
    display: flex;
    background-color: #177bc3;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
  }
}
