.users-caption{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  // text-transform: uppercase;
  padding: 15px 0;
}
.user__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  &:hover {
    background-color: rgb(237, 237, 237);
    // transform: scale(1.03);
    // -webkit-transform: scale(1.03);
    // -moz-transform: scale(1.03);
    // -ms-transform: scale(1.03);
    // -o-transform: scale(1.03);
}
  li {
    font-size: 17px;
    & span {
      margin-right: 5px;
    }
  }
  .buttons {
    font-size: 14px;
    & .view__user_btn {
      background-color: rgb(50, 156, 24);
      padding: 5px 7px;
      
    }
    & .edit__user_btn {
      background-color: rgb(23, 123, 195);
      padding: 5px 7px;
    }
    & .delete__user_btn {
      background-color: rgb(205, 77, 77);
  
      padding: 5px 7px;
    }
  }
}
.modal-edit__content{
//  width: 390px;
}
.modal-delete__content {
 text-align: center;
 width: 350px;
 button{
  width: 75px;
 }
 h3{
  margin: 20px 0;
 }
}
