.userlist__page_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .create__user_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #177bc3;
  }
}
.search__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:400px;
  height: 50px;
  margin: 0 auto 25px;
  padding: 15px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  input {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: #808080;
   
  }
}
.userlist__page {
  background: #fff;
  padding: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  .userlist li {
    font-size: 18px;
    border: 1px solid lightgrey;
    color: #2c2c2c;
    margin: 7px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// table {
//   width: 100%;
//   border-collapse: collapse;
//   thead {
//     background-color: #f1f1f1
//   }
//   th {
//     height: 50px;
//     padding-top: 12px;
//     padding-bottom: 12px;
//     text-align: left;
//     font-weight: 600;
//     text-transform: uppercase;
//     padding: 8px;
//     border: 1px solid #ddd;
//   }
//   td {
//     padding: 5px;
//     border: 1px solid #ddd;
//   }
// }
