.user__list_page {
  .userlist__page_top{
    
  }
  .user__list_page_title {
    text-align: center;
    margin: 35px 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;
    padding: 7px 15px;
    border: 1px solid #ebeaea;
  }
  .view__post_btn {
    background-color: rgb(50, 156, 24);
    padding: 5px 7px;
  }
  .edit__post_btn {
    background-color: rgb(23, 123, 195);
    padding: 5px 7px;
  }
  .delete__post_btn {
    background-color: rgb(205, 77, 77);
    padding: 5px 7px;
  }
}
#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 5px;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  // background-color: #ddd;
}

#users th {
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2B3139;
  color: white;
  font-weight: 500;

}
